$brand-primary: #212C61;



$navbar-bg: $brand-primary;
$navbar-link-color : $white;

$sidebar-bg: $brand-primary;

$sidebar-collapse-panel-bg: $brand-primary;
$navbar-dropdown-header-color: $brand-primary;
