@import "../../../../resources/shared/scss/custom/custom.scss";

@import "./variables";

.auth.theme-two .auto-form-wrapper {
    height: unset;
    max-height: unset;
}

.dropdown-menu.dropdown-menu-right {
    right: unset !important;
}

.footer {
    padding-top: 5px;
    padding-bottom:0px;
    padding-left: 20px;
}

.main-panel {
    min-height: calc(100vh - 80px);
}
