@import "../../../../resources/shared/scss/custom/custom.scss";

.auth.theme-two .auto-form-wrapper {
    height: unset;
    max-height: unset;
}

.dropdown-menu.dropdown-menu-right {
    right: unset !important;
}
